canvas {
  display: block;
  margin: 10px auto;
  width: 80%;
  height:500px;
}
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
.header {
  padding: 80px;
  text-align: left;
  background: lightgrey;
}
.header h1 {
  font-family: 'Comfortaa', cursive;
}
