body {
  background-color: #363636;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  text-align: left;
}
.navbar{
  overflow: hidden;
  background-color: #474747;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #E8175D;
}
.navbar a:hover{
  background-color: #E8175D;
  color: #474747;
}
.header {
  padding: 20px;
  text-align: left;
  background: #CC527A;
  color: white;
}
.header h1 {
  font-family: 'Comfortaa', cursive;
}
.content {
  padding: 20px;
  text-align: left;
  background: #A8A7A8;
  color: black;
}
.footer {
  overflow: hidden;
  padding: 20px;
  text-align: center;
  background-color: #474747;
  text-decoration: none;
  color: #E8175D;
  display: block;
}
.footer a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #E8175D;
}
