body {
  background-color: #363636;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  text-align: left;
}
.navbar{
  overflow: hidden;
  background-color: #474747;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #E8175D;
}
.navbar a:hover{
  background-color: #E8175D;
  color: #474747;
}
.header {
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
  text-align: left;
  background: #CC527A;
  color: white;
}
h1 {
  font-family: 'Comfortaa', cursive;
}
h2 {
  font-family: 'Comfortaa', cursive;
}
.content {
  padding: 20px;
  text-align: left;
  background: #A8A7A8;
  color: black;
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  padding: 20px;
}
.main {
  flex: 70%;
  padding: 20px;
}
.footer {
  overflow: hidden;
  text-align: center;
  background-color: #474747;
  text-decoration: none;
  color: #E8175D;
  display: flex;
}
.footer a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #E8175D;
}
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
