body {
  background-color: #363636;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
h1 {
  font-family: 'Comfortaa', cursive;
}
h2 {
  font-family: 'Comfortaa', cursive;
}
h3 {
  font-family: 'Comfortaa', cursive;
}
