.head {
  text-align: center;
  background-color: #111111;
}
.body {
  background-color: #4f4f4f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
