.toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}
.toggle-btn:foxus {
  outline: none;
}
.toggle-btn-line {
  width: 30px;
  height: 5px;
  background: white;
}
